$primary: #24292e
$secondary: #2ea44f
$tertiary: #79b8ff
$neutral_bg: #f4f4f4
$bright_bg: #ffffff
$anim: all 0.1s ease-out
$b_radius: 5px

%flex
    display: flex
    justify-content: center
    align-items: center

.wrapper
    font: 
        size: 16px
        family: Roboto, sans-serif
    min-height: 100vh
    @extend %flex
    flex-direction: column

    background-color: $neutral_bg

.section
    @extend %flex
    flex-grow: 1

.button
    border: none
    font-family: inherit
    cursor: pointer
    background-color: inherit

.footer
    color: gray
    font-size: 1.5rem
    background-color: $primary
    text-align: center
    padding: 
        top: 1rem
        bottom: 1rem
    width: 80%

    &__text
        display: block
        margin:
            top: 1rem
            bottom: 1rem

    &__contact
        text-decoration: underline
        font-weight: 700
        cursor: pointer

@import 'common.blocks/Header/Header'
@import 'common.blocks/Header/FlyoutMenu/FlyoutMenu'
@import 'common.blocks/Home/Home'
@import 'common.blocks/MovieList/MovieList'
@import 'common.blocks/MovieList/MovieCard/MovieCard'
@import 'common.blocks/Modal/Modal'